body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.h1{
    font-size: 50px;
}
.red-text{
    color: red;
}
.blue-text{
    color: royalblue;
}

.display-flex {
    display: flex;
    padding-left: 25px;
}
.half-width{
    width: 50%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.image-shape{
    width: 90%;
    margin-left: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(royalblue , blue);
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 20px;
    color: white;
}
.text-deco{
    text-align: justify;
    padding: 2%;
}
.button-post{
    text-align: right;
    margin: 2% 5% 2% 0;
}
.seperate-box{
    background-image: linear-gradient(tomato, red);
    border-left: 8px solid transparent;
    border-image: linear-gradient(red , blue);
    border-image-slice: 1;
    border-radius: 15px;
    margin-right: 5%;
    padding: 2%;
    box-shadow: 15px 15px 25px gray;
    
}
footer p{
    text-align: center;
}
